<div class="projectcolumn">
  <% @posts.each do |post| %>
    <div class="blurbox">
      <h1><%= post.title %></h1>
      <p><%= post.content %></p>
      <div class="postimage">
        <%= image_tag(post.image)%>
      </div>
    </div>
            <button id="modal-btn"> click me, I make a modal</button>
        <div class="modal">
          <div class="blurbox">
            <span class="close-btn">&times;</span>
            <p>this is the text inside the modal</p>
          </div>
        </div>

  <% end %>
</div>

<script>let modalBtn = document.getElementById("modal-btn")
let modal = document.querySelector(".modal")
let closeBtn = document.querySelector(".close-btn")
modalBtn.onclick = function(){
  modal.style.display = "block"
}
closeBtn.onclick = function(){
  modal.style.display = "none"
}
window.onclick = function(e){
  if(e.target == modal){
    modal.style.display = "none"
  }
}</script>
