<div class="projectcolumn">
  <% @posts.each do |post| %>
    <div class="blurbox">
      <h1><%= post.title %></h1>
      <p><%= post.content %></p>
      <div class="postimage">
        <%= image_tag(post.image)%>
      </div>
    </div>
  <% end %>
</div>
