<h1>seanbase</h1>

<% @posts.each do |post| %>

<div class="blurbox">
    <div class="projectcolumn-header">
        <h1><%= post.title %></h1>
        <p><%= post.content %></p>
    </div>
</div>

<% end %>