<div class="projectcolumn">
  <% @posts.each do |post| %>
    <div class="blurbox">
      <h1><%= post.title %></h1>
      <p><%= post.content %></p>
      <div class="postimage">
        <div class="modal-btn">
          <%= image_tag(post.image)%>
        </div>
      </div>
    </div>
    <div class="modal" id="myModal">
      <div class="blurbox">
        <span class="close-btn">&times;</span>
        <%= image_tag(post.image)%>
      </div>
    </div>
  <% end %>
</div>
<script>
  // select images by class name
  var img = document.getElementsByClassName('postimage');
  var modalImg = document.getElementsByClassName("postimage");
  var modal = document.getElementById("myModal");
  
  // show modal function
  var showModal = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
  }
  
  // bind click event to each img
  for (var i = 0; i < img.length; i++) {
      img[i].addEventListener('click', showModal);
  }
  
  var span = document.getElementsByClassName("close-btn")[0];
  
  span.onclick = function() {
    modal.style.display = "none";
  }
</script>
