@import url("https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap");

body {
  background-image: url(asset_path("purple-flower.jpg"));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-container {
  display: grid;
  grid-template-areas: "infobox projects";
  grid-template-columns: 1fr 1.2fr;
  grid-column-gap: 3%;
  margin-top: 3%;
  margin-left: 7%;
  margin-right: 7%;
  justify-content: space-around;
  align-content: space-between;
}

.main-container a:link {
  text-decoration: none;
  color: seashell;
}
.main-container a:visited {
  color: seashell;
}
.main-container a:hover {
  color: seashell;
}

.blurbox {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-family: sans-serif;
  text-align: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 10px 20px;
  margin: 3% auto;
  color: seashell;
  font-family: "Open Sans", sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  position: fixed;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
  color: seashell;
  text-align: center;
  font-weight: bolder;
  z-index: 2;
  border-style: solid;
  border-width: 0.1em;
  border-color: seashell;
  text-decoration: none;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.buttonbox {
  display: flex;
  flex-direction: row;
}

.editbutton {
  display: flex;
  align-items: center;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
  color: seashell;
  text-align: center;
  font-weight: bolder;
  z-index: 2;
  border-style: solid;
  border-width: 0.1em;
  border-color: seashell;
  text-decoration: none;
  justify-content: center;
  margin: 0 10px;
}

.editbutton:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.postimage img{
  max-width: 50%;
  height: auto;
  transition: 0.3s;
  cursor: pointer;
}

.postimage:hover {
  opacity: 0.7;
}

.infobox {
    grid-area: infobox;
    position: fixed;
    max-width: 40%;
} 

.infobox h1 {
  font-size: 3em;
  line-height: 0.3;
}
.infobox p {
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: bold;
}

.link-container {
    max-width: 60%;
    margin: auto;
}

.linkbox {
  display: flex;
}

.linkbox img {
  flex-direction: column;
  max-width: 32px;
  max-height: 32px;
  vertical-align: middle;
  margin-left: 10%;
}

.linkbox p {
  flex-direction: column;
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 0;
  margin: auto;
}

.projectcolumn {
  grid-area: projects;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  padding: 10px;
}
.projectcolumn h1 {
  font-size: 2em;
  font-weight: bolder;
}

.projectcolumn p {
  font-size: 1em;
  font-weight: bold;
}


@media only screen and (min-width: 2000px) {
  .main-container {
    margin: 8%;
  }

  .infobox h1 {
    font-size: 6em;
    line-height: 0.5;
  }
  .infobox p {
    font-size: 3em;
    line-height: 1.2;
    font-weight: bold;
  }

  .linkbox {
    display: flex;
  }

  .linkbox img {
    flex-direction: column;
    float: left;
    max-width: 64px;
    max-height: 64px;
    vertical-align: middle;
    margin-right: 3%;
  }

  .linkbox a {
    flex-direction: column;
    float: right;
    font-size: 1.3em;
    font-weight: bolder;
  }

  .projectcolumn h1 {
    font-size: 5em;
    font-weight: bolder;
  }
  
  .projectcolumn p {
    font-size: 3em;
    font-weight: bold;
  }

  .button {
    width: 128px;
    height: 128px;
    font-size: 2em;
  }
}
@media only screen and (max-width: 890px) {
  .main-container {
    display: grid;
    grid-template-areas:
      "button"
      "infobox"
      "projects";
    grid-template-columns: 1fr;
    margin: 3%;
  }
  .infobox {
    grid-area: infobox;
    position: relative !important;
    margin: 0%;
    max-width: 100%;
  }

  .infobox h1 {
      line-height: .7;
  }

  .link-container {
      max-width: 40%;
      margin: auto;
  }

  linkbox a {
      font-size: .7rem;
  }

  .linkbox img {
      max-width: 32px;
      max-height: 32px;
      margin: auto;
  }

  .projectcolumn {
    grid-area: projects;
    display: flex;
    margin-left: 0% !important;
  }
  .button {
    grid-area: button;
    margin: 3%;
    position: sticky;
  }
}

@media only screen and (max-width: 500px) {
    .linkbox p {
        display: none;
    }

    .linkbox a {
        margin: auto;
    }

    .linkbox img {
        max-width: 32px;
        max-height: 32px;
    }

    .infobox p {
        font-size: 1em;
    }
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}